<!DOCTYPE html>
<html>

<head>
    <title>NBA Covid</title>
    <link rel="stylesheet" href="{{ url_for('static',path='/1.css') }}" />
</head>

<body>
    <div class="r1" style="width:300px;height:235px;top:20px;">
        <form method="POST">

            <br>Section <input type="text" name="num1" style="width:50px">
            <br><br>Row <input type="text" name="num2" style="width:50px">
            <br><br>Seat Range <input type="text" name="num3" style="width:50px;left:0px;position:relative;">
            <br><br>
            <button type="submit" style="width:50px;height:35px;top:35px;left:25px;position:relative;">Save</button>

        </form>

        <form method="POST" action="/delete">
            <button type="submit" style="width:150px;height:35px;;top:0px;left:85px;position:relative;">Clear Previous
                Input</button>
        </form>

    </div>
    <h2>Enter:
        <br>
        Please enter individual values: 5
        <br>
        range: 3-7
        <br>
        comma separation: 1,2-3
    </h2>
</body>

</html>